---
import CompanyHero from '../components/CompanyHero.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Company">
	<main class="space-y-16 sm:space-y-28 lg:space-y-32 pb-40 overflow-clip">
		<CompanyHero/>
	</main>
</Layout>