---
import { cn } from "@lib/utils"
import Container from "./Container.astro"
import {button} from "@tailus/themer-button"
import Frame from "./Frame.astro"
---

<section class="relative overflow-hidden scroll-mt-24 bg-gradient-to-br from-purple-300 via-pink-200 to-purple-300 min-h-screen" id="company">  
    <div
        aria-hidden
        class="opacity-0 dark:opacity-25 absolute top-0 w-[1000px] z-10 h-[800px] left-1/2 -translate-x-1/2 -translate-y-1/2 pointer-events-none"
      />
    <Container>
        <div class="relative pt-32 sm:pt-44 ml-auto">
            <div class="lg:w-3/4 text-left mx-auto">
                <h1 class="text-left text-gray-900 dark:text-white font-bold text-4xl sm:text-5xl md:text-6xl">
                Transforming Credit Risk Management with Artificial Intelligence.
                </h1>
                <p class="text-left mx-auto mt-8 text-gray-700 dark:text-gray-300">
                With deep experiences at Microsoft on productionizing OpenAI and other LLMs and supported by advisors in North American financial institutions, we combine industry knowledge with state-of-the-art technology to deliver customized solutions tailored to the unique challenges of the banking and credit sectors.
                .</p>
                <div class="mt-8 flex flex-wrap justify-center gap-y-4 gap-x-6">
                    <Frame>
                      <a href="" class={cn(button.primary.lg, "relative z-[1]")}>
                        Request a Demo
                      </a>
                    </Frame>
                </div>
            </div>
        </div>
    </Container>
</section>