<div class="relative p-2 rounded-md border border-white/50 dark:bg-white/5 dark:border-white/5">
    <div class="absolute inset-1 flex justify-between">
    <div class="flex flex-col justify-between">
    </div>
    <div class="flex flex-col justify-between">
    </div>
    </div>
    <slot />
</div>