---
import { cn } from "@lib/utils"
import Container from "./Container.astro"
import {button} from "@tailus/themer-button"
import Frame from "./Frame.astro"
---

<section class="relative overflow-hidden scroll-mt-24 bg-gradient-to-br from-yellow-100 via-pink-200 to-purple-300 min-h-screen" id="home">  
    <div
        aria-hidden
        class="opacity-0 dark:opacity-25 absolute top-0 w-[1000px] z-10 h-[800px] left-1/2 -translate-x-1/2 -translate-y-1/2 pointer-events-none"
      />
    <Container>
        <div class="relative pt-32 sm:pt-44">
            <div class="lg:w-2/3 text-left">
                <h1 class="text-gray-900 dark:text-white font-bold text-5xl sm:text-6xl md:text-7xl lg:text-8xl leading-tight">
                    Make decisions that perform.
                </h1>
                <p class="mt-8 text-gray-700 dark:text-gray-300 text-lg">
                    FirstSignals is an AI-native credit risk management platform for commercial and private credit institutions.
                    
                    Optimize decision-making, enhance operational efficiency, and unlock new levels of financial insights.                </p>
                </p>
                <div class="mt-8 flex flex-wrap gap-y-4 gap-x-6">
                    <Frame>
                      <a href="/demo/" class={cn(button.primary.lg, "relative z-[1] bg-black text-white px-8 py-4 rounded-full")}>
                        Request a Demo
                      </a>
                    </Frame>
                </div>
            </div>
        </div>
    </Container>
</section>